<% cache blog do %>
  <li>
    <h4 class='blog_name'><%= link_to blog.title, blog %>(<%= blog.comments.count %>)</h4>
    <h4 class='rating'>Rating: <%= blog.rating %></h4><br/>
    <p><%= blog.description %></p><br/>
    Author: <%= blog.author.name %><br/>
    <%= blog.created_at %>
  </li>
<% end %>
