<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @blog.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog.author.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category.name %>
</p>

<% cache @blog.comments do %>
  <h3>Comments: </h3>
  <ul id='comments'>
    <%= render @blog.comments %>
  </ul>
<% end %>
